@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Sofia+Sans:wght@500&display=swap");

/* *********************************? Global ******************************/

:root {
  --lightGray-background: #f7fafd;
  --darkGray-background: #e8eff6;
  --button-background: #ff556e;
  --primary-font: "Cairo", sans-serif;
  --secondary-font: "Sofia Sans", sans-serif;
  --Body-text-dark-gray: #777;
  scroll-behavior: smooth;
}

.clearfix {
  clear: both;
}

/* ************************TODO ******************************* */
.float {
  float: left;
}

.float::after {
  clear: both;
  content: "";
  display: block;
}
/* ************************TODO ******************************* */
* {
  box-sizing: border-box;
  font-family: var(--primary-font);
}

body {
  /* font-family: "Montserrat", sans-serif; */
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #555;
  text-align: left;
  background-color: #fffbf2;
}

.container {
  width: 100%;
  margin: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /* border: 1px solid; */
}

.overlay-top::before {
  background: url(../img/overlay-top.png);
  background-color: #2d201f;
  position: absolute;
  content: "";
  width: 100%;
  height: 15px;
  left: 0;
  z-index: 1;
  margin-top: -8px;
}

.overlay-bottom::after {
  background: url(../img/overlay-bottom.png);
  background-color: #2d201f;
  position: absolute;
  content: "";
  width: 100%;
  height: 15px;
  left: 0;
  z-index: 1;
  /* margin-top: -8px; */
}

/* *********************************!  End Global ******************************/
/* Start Navbar *****************************/
@media (min-width: 400px) and (max-width: 830px) {
  .nav-bar .navbar-items .navbar-nav {
    display: grid;
  }

  .nav-bar .container {
    flex-direction: column;
  }
  .navbar-nav a {
    font-size: larger;
  }
}

.nav-bar {
  position: absolute;
  z-index: 3;
  width: 100%;
}

.nav-bar .container {
  display: flex;
  align-items: center;
  padding: 0 15px;
  justify-content: space-between;
}

.nav-bar .navbar-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  height: 80px;
  position: relative;
  z-index: 1;
  margin-left: 30px;
}

.navbar-brand .text-white {
  color: #fff;
  font-size: 3.5rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

.navbar-nav a {
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #fffbf2;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

a:first-child {
  color: #da9f5b;
}

.nav-link .fa-caret-down {
  margin-left: 0.25em;
  width: auto;
}

.nav-link:hover {
  color: #da9f5b;
}

.navbar-toggler {
  display: none;
}

.img-header {
  background: linear-gradient(rgba(51, 33, 29, 0.61), rgba(51, 33, 29, 0.644)),
    url(../img/carousel-1.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 700px;
  z-index: 2;
}

/* End Navbar *****************************/
/* Start carousel ******************************/
.carousel-item .img-header img {
  width: 100%;
}

.carousel-caption {
  text-align: center;
  display: flex;
  z-index: 2;
  position: absolute;
  inset: 0;
  flex-direction: column;
  justify-content: center;
  height: 700px;
}

.carousel-item::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(51, 33, 29, 0.7);
  height: 665px;
}

.carousel-caption h2:last-child {
  color: #fff;
  font-size: 3rem;
  margin-top: -30px;
}

.carousel-caption h2:first-child {
  color: #da9f5b;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

.carousel-caption h1 {
  color: #fff;
  font-size: 7rem;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

@media (min-width: 400px) and (max-width: 830px) {
  .carousel-caption h1 {
    font-size: 4.5rem;
  }
  .carousel-caption {
    justify-content: flex-end;
    height: 550px;
  }
  .carousel-caption h2:first-child {
    margin: 0;
  }
}
/************************************* about us */

.section-title::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 100px;
  top: 0;
  left: 50%;
  margin-left: 1px;
  background: #da9f5b;
}

.about .section-title {
  position: relative;
  padding: 115px 0px 35px;
  text-align: center;
}

.about .row-cup {
  display: flex;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}

.about-img .image-cup img {
  width: 400px;
  z-index: 1;
  position: relative;
}

.section-title h4 {
  color: #da9f5b;
  font-size: 1.5rem;
  margin: 0;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.about .section-title h1 {
  font-weight: 700;
  margin-bottom: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  color: #33211d;
  font-size: 3rem;
  margin: 0;
}

.about .row-cup h1 {
  margin-bottom: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.2;
  color: #33211d;
}

.about .row-cup .our-text-l {
  margin-bottom: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: larger;
  line-height: 1.2;
  color: #33211d;
}

.about .row-cup .our-l button {
  color: #fff;
  background-color: #33211d;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
  width: 130px;
  border: none;
}

.about .row-cup .our-r button {
  color: #212529;
  font-weight: 700;
  background-color: #da9f5b;
  border-color: #da9f5b;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
  margin-top: 16px;
  width: 130px;
  border: none;
}

.about .row-cup .our-r h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: larger;
  line-height: 1.2;
  color: #33211d;
  margin-bottom: 0;
  margin-top: 10px;
}

.about .row-cup .our-r .text-primary {
  color: #da9f5b;
  margin-right: 10px;
  font-weight: 900;
  width: auto;
}

.section-title {
  position: relative;
  padding: 115px 0 35px 0;
  text-align: center;
  margin-top: 100px;
}

.row-left h4 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  color: #33211d;
}

.our-services .section-title h1 {
  font-weight: 700;
  margin-bottom: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  color: #33211d;
  font-size: 3rem;
  margin: 0;
  text-transform: capitalize;
}

.row-left {
  display: flex;
}

.services {
  display: flex;
  flex-wrap: nowrap;
  margin-right: -15px;
  margin-left: -15px;
  flex-direction: row;
}

@media (min-width: 400px) and (max-width: 800px) {
  .about .row-cup {
    display: block;
    text-align: center;
  }

  .row-cup p {
    width: 100%;
    text-align: center;
  }

  .about .row-cup h1 {
    text-align: center;
  }

  .about .row-cup .our-l button {
    width: 100%;
    margin: 0;
  }

  .about .row-cup .our-r button {
    width: 100%;
    margin: 0;
  }
}

/************OUR SERVICES***************/
.Services-intro .content-Services {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
}

.Services-intro .content-Services .content {
  margin-bottom: 3rem;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  width: 50%;
}

.delivery,
.beans,
.Quality,
.Booking {
  align-items: center;
  display: flex;
  position: relative;
  width: 100%;
  padding-right: 15px;
}

.Services-intro .content-Services .content img {
  max-width: 85%;
}

.Services-intro .container {
  width: 95%;
}

.Services-intro .content-Services .content .description {
  position: relative;
  width: 100%;
}

.Services-intro .content-Services .content h4 {
  margin-bottom: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  color: #33211d;
  font-size: 1.2rem;
  font-weight: 600;
}

.Services-intro h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  color: #33211d;
  margin: 0;
  font-size: 3.5rem;
}

.fa-truck,
.fa-coffee,
.fa-award,
.fa-table::before {
  margin-right: 15px;
  width: 45px;
  height: 45px;
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 45px;
  color: #33211d;
  background: #da9f5b;
  text-align: center;
}

.fa-table {
  width: 20%;
}

@media (min-width: 400px) and (max-width: 830px) {
  .Services-intro .content-Services {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    flex-direction: column;
    width: 75%;
  }

  .Services-intro .content-Services .content {
    margin-bottom: 3rem;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
  }

  .Services-intro h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    line-height: 1.2;
    color: #33211d;
    margin: 0;
    font-size: 2rem;
  }

  .delivery,
  .beans,
  .Quality,
  .Booking {
    align-items: flex-start;

    padding-left: 15px;
    flex-direction: column;
  }

  .fa-truck,
  .fa-coffee,
  .fa-award,
  .fa-table::before {
    text-align: center;
  }
}

/********Offer**************/

.offer {
  background: linear-gradient(rgba(51, 33, 29, 0.9), rgba(51, 33, 29, 0.9)),
    url(../img/bg.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 450px;
  margin-top: 60px;
}

.offer .overlay-bottom {
  position: absolute;
  content: "";
  width: 100%;
  height: 15px;
  z-index: 1;
  margin-top: 70px;
}

.offer img {
  width: 100%;
}

.offer .container span {
  color: #da9f5b;
  font-size: 4rem;
  font-weight: 700;
  margin-top: 80px;
}

.offer h3 {
  font-size: 2.25rem;
  color: #fff;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.offer h4 {
  font-size: 1.25rem;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
}

.offer .container {
  width: 100%;
  margin: auto;
  display: grid;
  justify-content: center;
  text-align: center;
}

.input-group {
  display: flex;
  height: 55px;
  width: 72%;
  margin-left: 68px;
}

.input-group .sign {
  height: 55px;
  background-color: #da9f5b;
  color: #33211d;
  width: 50%;
  font-weight: 600;
  border: none;
  margin: 0;
  padding: 0;
}

.plac {
  padding-left: 15px;
  border: none;
}

.footer .input-group {
  margin: auto;
  width: 100%;
  margin-top: 20px;
}

/************************MENU & PRICING*************************/
.competitive-pricing .pricing-row {
  display: flex;
  margin-right: 7px;
  margin-left: 15px;
  width: 73%;
  margin-left: 150px;
}

.competitive-pricing .pricing-row img {
  width: 100px;
}

.competitive-pricing .pricing-row .content {
  position: relative;
  width: 60%;
  padding-right: 15px;
  padding-left: 15px;
}

.competitive-pricing .section-title h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  color: #33211d;
  margin: 0;
  font-size: 3.5rem;
}

.competitive-pricing .row .Tag-name {
  margin-left: 20px;
}

.competitive-pricing .row .Tag-name h4 {
  margin-bottom: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  line-height: 1.2;
  color: #33211d;
  width: 60%;
  margin: 0;
}

.competitive-pricing .content h1 {
  margin-bottom: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  line-height: 1.2;
  color: #33211d;
}

.pricing-row .row {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.menu-price {
  position: relative;
  top: -33px;
  margin-left: -40px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 45px;
  color: #33211d;
  background: #da9f5b;
}

.pricing-row img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.photo-pricing {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.Tag-name p {
  margin: 0;
}

@media (min-width: 400px) and (max-width: 950px) {
  .competitive-pricing .pricing-row {
    display: flex;
    margin-right: 15px;
    margin-left: 15px;
    width: 80%;
    flex-direction: column;
    align-items: center;
  }

  .reservation .row-center {
    display: flex;
  }

  .competitive-pricing .pricing-row .content {
    width: 100%;
    padding-left: 15px;
  }

  .competitive-pricing .section-title h1 {
    font-size: 2.5rem;
  }

  .pricing-row .row {
    background-color: #ced4da;
    width: 80%;
  }
}

/*****************Reservation********************/
.reservation,
.page-header,
.offer,
.footer {
  background: linear-gradient(rgba(51, 33, 29, 0.9), rgba(51, 33, 29, 0.9)),
    url(../img/bg.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.reservation {
  width: 80%;
  margin-left: 10%;
  margin-top: 80px;
}

.reservation .row-center {
  display: flex;
}

.reservation .content h1:first-child {
  color: #da9f5b;
  font-size: 3.5rem;
  margin-bottom: 0;
}

.reservation .content h1:last-child {
  color: #ffffff;
  font-size: 2rem;
  margin-bottom: 0;
  margin-top: 0;
}

.reservation .text-desc {
  width: 75%;
  margin-left: 40px;
  margin-top: 15%;
}

.reservation .text-desc p {
  color: #fff;
}

.reservation .text-desc ul li {
  list-style: none;
  color: #fff;
  margin-bottom: 10px;
}
.reservation .text-desc ul{
  padding: 0;
}
.text-desc .fa-check {
  color: #da9f5b;
  margin-right: 10px;
}
.reservation .book-table{
  width: 50%;
}
.reservation .content{
  width: 50%;
}
.book-table .text-center {
  background-color: rgba(51, 33, 29, 0.8);
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  height: 550px;
  margin-top: -30px;
}

.form-control,
.custom-select,
button {
  display: block;
  width: 80%;
  height: 1.5rem;
  padding: 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #99a1a8;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0;
  background-color: transparent;
  border-color: #da9f5b;
  margin-bottom: 15px;
  margin-left: 50px;
}

.reservation .text-center button {
  width: 80%;
  padding: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: #212529;
  background-color: #da9f5b;
  border-color: #da9f5b;
  margin-bottom: 15px;
  margin-left: 50px;
  text-align: center;
}

@media (min-width: 400px) and (max-width: 950px) {
 
  .reservation .row-center {
    display: block;
  }
  .reservation .content {
    text-align: center;
    width: 100%;
}
.reservation .text-desc{
  width: 100%;
  margin-left: 0;
}
.reservation .book-table {
  width: 100%;
  margin-top: 70px;
}

  .reservation .content h1:first-child {
    color: #da9f5b;
    text-align: center;
    margin: 0;
  }
}

/************************************/

.testimonial-carousel {
  display: flex;
}

.testimonial-carousel .content img {
  width: 40%;
}

.testimonial-carousel .content {
  display: flex;
}

.clients .section-title h1 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 0rem;
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
  color: #33211d;
}

.clients .testimonial-carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.clients .testimonial-carousel .testimonial-item {
  width: 330px;
}

.clients .testimonial-carousel .content h4 {
  margin-bottom: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  line-height: 1.2;
  color: #33211d;
  font-size: 1.5rem;
}

.clients .testimonial-carousel .content i {
  font-size: 1.25rem;
  margin: 0;
}

.elitr {
  width: 300px;
}

.clients .testimonial-carousel .content .clientName {
  margin-left: 15px;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #da9f5b;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
}

.dot:first-child {
  width: 50px;
  border-radius: 25px;
  background-color: #33211d;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

@media (min-width: 400px) and (max-width: 950px) {
  .clients .testimonial-carousel {
    display: flex;
    flex-direction: column;
  }
  .clients .testimonial-carousel .testimonial-item {
    width: 100%;
  }
  .dot {
    display: none;
  }

  .clients .section-title h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 0rem;
    font-family: "Roboto", sans-serif;
    /* line-height: 1.2; */
    color: #33211d;
  }
}

/****************Footer**********************/
.footer .myContacts {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.address,
.follow,
.openHours,
.news {
  width: 22%;
}

.myContacts .media {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.myContacts .fa-brands {
  border: 1px solid;
  margin: 5px;
  text-align: center;
  height: 45px;
  line-height: 45px;
  font-size: 1.5rem;
  width: 100%;
}

.footer .myContacts h4 {
  text-transform: uppercase;
  color: #fff;
  font-size: 1.5rem;
}

.myContacts {
  color: #fff;
  padding: 1rem;
}

.footer {
  margin-top: 65px;
}

.fa-map-marker-alt {
  margin: 0;
}

.footer .myContacts p {
  font-size: 1.2rem;
  margin-bottom: 7px;
}
.footer .openHours p{
  margin: 0;
}
.footer .myContacts .address i{
  margin-right: 15px;
}
@media (min-width: 400px) and (max-width: 950px) {
  .footer .myContacts {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .address,
  .follow,
  .openHours,
  .news {
    width: 100%;
    margin-top: 25px;
    text-align: center;
  }
  .myContacts .media {
    display: flex;
    width: 100%;
    flex-direction: column;
}
  .footer .myContacts h4 {
    margin: 0;
  }
  .footer .input-group {
  width: 50%;
}
}

.copyright,
.designed {
  font-size: 1.2rem;
  margin: 0;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
}

/**************Back To Top*****************/
.top {
  --offset: 50px;
  position: sticky;
  bottom: 36px;
  margin-right: 10px;
  place-self: end;
  margin-top: calc (100vh + var(--offset));
  text-decoration: none;
  padding: 10px;
  font-family: sans-serif;
  color: #33211d;
  background: #da9f5b;
  border-radius: 100px;
  white-space: nowrap;
  font-weight: 700;
  z-index: 99;
}
